(
  contributors: {
    "92332892+kevinmatthes@users.noreply.github.com": (
      alias: "92332892+kevinmatthes@users.noreply.github.com",
      names: [
        "Kevin Matthes",
      ],
      emails: [
        "92332892+kevinmatthes@users.noreply.github.com",
      ],
      urls: [],
    ),
  },
  references: {},
  changes: {
    "Changed": [
      (
        text: "documentation of `Attribution::provenance`, `Attribution::with_provenance`",
        commit: Some("7d6c51a"),
        aliases: [
          "92332892+kevinmatthes@users.noreply.github.com",
        ],
      ),
      (
        text: "documentation of `Attribution::text`, `Attribution::with_text`",
        commit: Some("24341c5"),
        aliases: [
          "92332892+kevinmatthes@users.noreply.github.com",
        ],
      ),
      (
        text: "documentation of `Attribution::identifier`, `Attribution::with_identifier`",
        commit: Some("71c7dc4"),
        aliases: [
          "92332892+kevinmatthes@users.noreply.github.com",
        ],
      ),
    ],
  },
)
