(
  contributors: {
    "92332892+kevinmatthes@users.noreply.github.com": (
      alias: "92332892+kevinmatthes@users.noreply.github.com",
      names: [
        "Kevin Matthes",
      ],
      emails: [
        "92332892+kevinmatthes@users.noreply.github.com",
      ],
      urls: [],
    ),
  },
  references: {},
  changes: {
    "Changed": [
      (
        text: "`Attribution::provenance` now returns a reference",
        commit: Some("bee3f99"),
        aliases: [
          "92332892+kevinmatthes@users.noreply.github.com",
        ],
      ),
    ],
  },
)
