(
  contributors: {
    "92332892+kevinmatthes@users.noreply.github.com": (
      alias: "92332892+kevinmatthes@users.noreply.github.com",
      names: [
        "Kevin Matthes",
      ],
      emails: [
        "92332892+kevinmatthes@users.noreply.github.com",
      ],
      urls: [],
    ),
  },
  references: {},
  changes: {
    "Added": [
      (
        text: "test suite for `Attribution`",
        commit: Some("af57bf0"),
        aliases: [
          "92332892+kevinmatthes@users.noreply.github.com",
        ],
      ),
      (
        text: "`Attribution::identifier`, `Attribution::provenance`, `Attribution::text`",
        commit: Some("6268e8b"),
        aliases: [
          "92332892+kevinmatthes@users.noreply.github.com",
        ],
      ),
      (
        text: "`Attribution::with_provenance`, `Attribution::with_text`",
        commit: Some("95259a3"),
        aliases: [
          "92332892+kevinmatthes@users.noreply.github.com",
        ],
      ),
      (
        text: "`Attribution::with_identifier`",
        commit: Some("d627aaa"),
        aliases: [
          "92332892+kevinmatthes@users.noreply.github.com",
        ],
      ),
      (
        text: "`Attribution::new`",
        commit: Some("a49e90f"),
        aliases: [
          "92332892+kevinmatthes@users.noreply.github.com",
        ],
      ),
    ],
    "Changed": [
      (
        text: "hide the fields of `Attribution`",
        commit: Some("1df45ca"),
        aliases: [
          "92332892+kevinmatthes@users.noreply.github.com",
        ],
      ),
    ],
  },
)
