(
  contributors: {
    "92332892+kevinmatthes@users.noreply.github.com": (
      alias: "92332892+kevinmatthes@users.noreply.github.com",
      names: [
        "Kevin Matthes",
      ],
      emails: [
        "92332892+kevinmatthes@users.noreply.github.com",
      ],
      urls: [],
    ),
  },
  references: {},
  changes: {
    "Changed": [
      (
        text: "rename rustfmt configuration file",
        commit: Some("faf9b32"),
        aliases: [
          "92332892+kevinmatthes@users.noreply.github.com",
        ],
      ),
      (
        text: "rename Clippy configuration file",
        commit: Some("5684a41"),
        aliases: [
          "92332892+kevinmatthes@users.noreply.github.com",
        ],
      ),
    ],
  },
)
